<!-- Main content -->
<section ng-init="init()" class="content">

    <!--Box Disponibilidade de Comunicacao por Mes-->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Disponibilidade de Comunicação em {{fullYear}} - {{nomePropriedade}}</h3>
            <div class="btn-group pull-right">
                <a ng-show="mostrar" id="btnRelatorio" ng-click="downloadRelatorio()" type="button" class="btn btn-primary btn-xs">Gerar Relatório</a>
                <select ng-change="hasChangedYear(selectYears.value)" ng-model="selectYears.value" ng-options="y for y in selectYears.values"></select>
            </div>
        </div>
        <div class="box-body">
            <div class="chart">
                <canvas id="grafico-barras-mes" class="chartjs-render-monitor" style="height: 230px; width: 788px;" width="788" height="230"></canvas>
            </div>
        </div>
    </div>
    <!--Fim - Box Disponibilidade de Comunicacao por Mes-->

    <!--Box Disponibilidade de Comunicacao por dia-->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Disponibilidade de Comunicação por Dia em {{fullMonth}} de {{fullYear}} - {{nomePropriedade}}</h3>
        </div>
        <div class="box-body">
            <span ng-show="loadingDias">
                Loading, please wait <img width="15" height="15" title="" alt="" src="assets/images/loading2.gif">
            </span>
            <div class="chart">
                <canvas id="grafico-linhas-dia" class="chartjs-render-monitor" style="height: 230px; width: 788px;" width="788" height="230"></canvas>
            </div>
        </div>
    </div>
    <!--Fim - Box Disponibilidade de Comunicacao por dia-->

    <!--Box Tentativas de Conexao Pings-->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Tentativas de Conexão em {{fullMonth}} de {{fullYear}} - {{nomePropriedade}}</h3>
        </div>
        <div class="box-body">
            <span ng-show="loadingPings">
                Loading, please wait <img width="15" height="15" title="" alt="" src="assets/images/loading2.gif">
            </span>
            <div class="chart">
                <canvas id="grafico-linhas-pings" class="chartjs-render-monitor" style="height: 230px; width: 788px;" width="788" height="230"></canvas>
            </div>
        </div>
    </div>
    <!--Fim - Box Tentativas de Conexao Pings-->

</section>
<!-- /.content -->
